
<%= simple_form_for @shift,:html=> { class: 'well form-horizontal' } do |f| %>
<div class="form-group">
  <label class="col-md-4 control-label">Teams</label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		<%= f.collection_select :team_id, Team.order(:team_name), :id, :team_name,{:prompt => "Select a Team"}, {:class=>"team-selection form-control",required: true} %>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Members</label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
<%#= f.collection_select :member_id, Member.order(:name), :id, :name, {:prompt => "Select a Member"}, {:class=>"member-selection form-control"} %>
 <%= f.collection_select :member_id, @members, :id, :name, {:prompt => "Select a Member"}, {:class=>"member-selection form-control"} %>

    </div>
  </div>
</div>


<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :sunday, checked: @shift.sunday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Sunday</label> 


    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :monday, checked: @shift.monday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Monday</label> 


    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :tuesday, checked: @shift.tuesday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Tuesday</label> 


    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :wednesday, checked: @shift.wednesday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Wednesday</label> 


    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :thrusday, checked: @shift.thrusday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Thrusday</label> 


    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :friday, checked: @shift.friday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Friday</label> 


    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">  </label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
		
 <%= f.check_box :saturday, checked: @shift.saturday?,class:"checkbox-inline" %> 
    <label class="checkbox-inline control-label">Saturday</label> 


    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">Timings</label>  
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group form-group">
<%#= f.time_select :time, default: Time.current.change(hour: 9, min: 0)%>
 <%= f.time_select :time, { class: 'form-control' } %>

 
    </div>
  </div>
</div>
  <div class="form-group" id="shift-btn-center">
    <%= f.button :submit %>
     <%=link_to 'Back', shifts_path,class: 'btn btn-primary bck-btn'%>
  </div>
<%end%>
